@model Tick_IT.Models.Responses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Responses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responses_TicketID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responses_TicketID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responses_UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responses_UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responses_DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responses_DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responses_Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responses_Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responses_CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responses_CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Responses_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
