@model IEnumerable<Tick_IT.Models.Responses>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Responses_TicketID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responses_UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responses_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responses_Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responses_CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Responses_TicketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responses_UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responses_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responses_Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responses_CreatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Responses_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Responses_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Responses_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
