@model Tick_IT.Models.TicketsViewModel
<<<<<<< HEAD
@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<table class="table">
    <thead>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Issue.Issues_UserID)
=======

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Responses)
>>>>>>> test/foreign
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Status)
            </th>
            <th></th>
<<<<<<< HEAD
        </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model.Issue)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_Createdby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issues_Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Issues_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Issues_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Issues_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.Issue.Issues_UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues_Createdby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues_DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues_Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issues_Status)
                </th>
                <th></th>
            </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model.Response)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Responses_CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responses_DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responses_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responses_Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responses_UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responses_TicketID)
                </td>
                
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Issues_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Issues_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Issues_ID">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>



=======
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <a asp-action="Select" asp-route-id="@item.ID">Select</a>
                </td>
            </tr>
            @foreach (var issuesReponse in item.Responses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => issuesReponse.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => issuesReponse.Message)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => issuesReponse.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => issuesReponse.DateTime)
                    </td>
                </tr>
            }

        }
     
    </tbody>
</table>
>>>>>>> test/foreign
