@model Tick_IT.Models.TicketsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Responses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues_Status)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <a asp-action="Select" asp-route-id="@item.ID">Select</a>
                </td>
            </tr>
            @foreach (var issuesReponse in item.Responses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => issuesReponse.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => issuesReponse.Message)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => issuesReponse.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => issuesReponse.DateTime)
                    </td>
                </tr>
            }

        }
     
    </tbody>
</table>
